*
{
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

html
{
  height: 100%;
}

/* ---------------- HEADER ------------------ */
 /* image du header*/
header h1
{
  background-image: url(../img/header_plombie.png);
  width: 100%;
  text-align: center;
  color: white;
  line-height: 6em;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: -5px 8px 10px black;
}

/* texte "plombiers du Nord" sur photo du header */
header p
{
  text-align: right;
  color: white;
  margin-top: -2em;
  margin-right: 1.5em;
  font-size: 20px;
  text-shadow: -5px 8px 10px black;
}

/* menu horizontal*/

nav
{
  display: inline-block;
  width: 100%;
  margin-top: 2em;
}

nav li
{
  display: inline-block;
  list-style-type: none;
  height: 24px;
  margin: auto;
}

/* mise en forme des liens dans le menu */
nav a
{
  padding: 5em;
  text-decoration: none;
  color: #696969;
  padding-left: 5em;
}

/* style du texte au passage de la souris */
nav a:hover
{
  text-decoration: underline;
  color: black;
  font-weight: bold;
  cursor: default;
}

/* centrer le menu horizontal */
nav ul
{
   text-align: center;
}

/* trait en dessous du menu */

hr
{
  border: solid 1px grey;
  width: 50%;
  position: relative;
  margin: 1% auto 2% auto;
}

/* Aide à régler le footer en bas */
body
{
  min-height: 100%;
  position: relative;
}

/* ------------------ FIN DU HEADER ---------------- */

/* ------------ PAGE 1 / ACCUEIL ---------- */

/* Mise en page des sous-titres */
.page1 h2
{
  margin-top: 2em;
}

.page1 h2, h3
{
  text-align: center;
}
/* réglage du lien "contact" */
.page1 a
{
  color: grey;
  text-decoration: none;
}

.page1 a:hover
{
  text-decoration: underline;
}

/* Mise en forme du texte de présentation */
.page1 p
{
  text-align: center;
  margin: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

/* --------- FIN DE PAGE 1 / ACCUEIL ------- */

/* ---------- PAGE 2 / TARIF ---------- */

/* tableau de prestations */
.page2 h2
{
  text-align: center;
  margin-top: 3%;
}
table
{
  border-collapse: collapse;
  margin: 6% auto 6% auto;
}

/* cases de titre */
th
{
  background-color: #DCDCDC;
  border : 1px solid grey;
  width: 10em;
  height: 6em;
  text-align: center;
  border-color: #FFA500;
  box-shadow: -3px -3px 7px grey;
}

/* Cases blanches */
td
{
  border : 1px solid black;
  width: 10em;
  height: 6em;
  text-align: center;
}

/* ------------ FIN DE PAGE 2 / TARIF ------------ */

/* ------------- PAGE 3 / CONTACT ------------- */

/* Formulaire */

input, textarea
{
  display: block;
  margin: auto;
  margin-top: 2%;
  background-color: #F2F2F2;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}

input
{
  height: 30%;
  width: 20%;
}

form
{
  margin-top: 3%;
}

/* Google map */
iframe
{
  display: block;
  margin: auto;
  margin-top: 3%;
}

/* Titre du tableau */
.page3 h3
{
  margin-top: 3%;
}
 /* Titre de la google map */
h4
{
  text-align: center;
}

/* stylisation du curseur */
.envoyer:hover
{
  cursor: pointer;
}
/* ---------- FIN DE LA PAGE 3 ----------- */

/* ---------- PAGE 4 / NOS REALISATIONS ----------- */

/* Reglage photo ligne 1 */
.haut img
{
  border-radius: 100%;
  width: 30%;
  height: 30%;
  margin-right: 5%;
  margin-left: 5%;
}

.haut
{
  text-align: center;
  margin-top: 4%;
}

/* Reglage photos ligne 2 */
.bas img
{
  border-radius: 100%;
  width: 30%;
  height: 30%;
  margin-right: 5%;
  margin-left: 5%;
}

.bas
{
  text-align: center;
  margin-top: 4%;
}



/* ---------- FIN DE LA PAGE 4 ----------- */

/* ----------------- FOOTER --------------*/

/*Menu footer partie gauche*/
#menu_footer_left
{
  display: inline-block;
  list-style-type: none;
  float: left;
  margin: 1% auto 0% 3%;
  text-align: left;
  width: 30%;
  padding-bottom: .5%;
}

/*Menu footer partie droite*/
#menu_footer_right
{
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 1% 3% 0% auto;
  width: 30%;
  text-align: right;
}

/*Espace et couleur du footer*/
footer
{
  background-color: #DCDCDC;
  height: 90px;
  width: 100%;
  bottom: 0;
  margin-top: 3%;
}

/* style des liens dans le footer */
footer a
{
  text-decoration: none;
  color: #696969;
}

/* style des liens survolés */
footer a:hover
{
  text-decoration: underline;
}

/* Logo Facebook et Twitter */
#menu_footer_right img
{
  width: 7%;
  height: 7%;
}

/* Logo instagram et Pinterest */
#menu_footer_left img
{
  width: 7%;
  height: 7%;
}
