*
{
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}
 /* image du header*/
header h1
{
  background-image: url(img/header_plombie.png);
  width: 100%;
  height: 250px;
  text-align: center;
  color: white;
  line-height: 6em;
  font-size: 40px;
  text-transform: uppercase;
}

/* texte "plombiers du Nord" sur photo du header */
header p
{
  text-align: right;
  color: white;
  margin-top: -2.25em;
  margin-right: 1.5em;
  font-size: 20px;
}

/* menu horizontal*/

nav
{
  display: inline-block;
  width: 100%;
  margin-top: 2em;
}

nav li
{
  display: inline-block;
  list-style-type: none;
  height: 24px;
  margin: auto;
}

/* mise en forme des liens dans le menu */
nav a
{
  padding: 5em;
  text-decoration: none;
  color: #696969;
  padding-left: 5em;

}

/* centrer le menu horizontal */
nav ul
{
   text-align: center;
}

/* trait en dessous du menu */

hr
{
  border: solid 1px grey;
  width: 600px;
  position: relative;
  margin: 1em auto 1em auto;
}
